# Flutter/Dart/Pub specific
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos_tool/

# Dependency override lock
package_config.json
package_config_subset

# Coverage and test output
coverage/
test_outputs/

# IDEs and tools
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Logs
*.log

# Android specific
android/.gradle/
android/app/build/
android/local.properties
android/.idea/
android/.cxx/
android/key.properties

# Gradle & Kotlin
.gradle/
*.keystore
*.jks
*.kotlin_module
**/*.hprof

# iOS specific
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
ios/.symlinks/
ios/.generated/

# macOS specific
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/build/
macos/.generated/
.DS_Store

# Windows specific
windows/runner/Debug/
windows/runner/Release/
windows/runner/BuildLog.*
windows/runner/*.VC.db
windows/runner/*.VC.opendb
windows/flutter/generated_plugin_registrant.cc
windows/CMakeCache.txt
windows/CMakeFiles/
windows/cmake_install.cmake
windows/Makefile

# Linux specific
linux/flutter/ephemeral/
linux/build/
linux/CMakeCache.txt
linux/CMakeFiles/
linux/cmake_install.cmake
linux/Makefile

# Web specific
web/generated_plugin_registrant.dart
build/web/

# Executables and binaries
*.apk
*.ipa
*.app
*.deb
*.rpm
*.exe
*.dll
*.dylib
*.so
*.zip

# Object and temporary files
*.tmp
*.swp
*.lock
*.bak
*.old
*.orig

# Other OS clutter
ehthumbs.db
Thumbs.db
Desktop.ini
